In [12]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [13]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [14]:
df_filter_1 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_1 = df_filter_1[['l_suppkey', 'l_orderkey', 'l_receiptdate', 'l_commitdate']]
df_filter_2 = orders[(orders.o_orderstatus == 'F') & (~orders.o_orderstatus.isnull())]
df_filter_2 = df_filter_2[['o_orderkey', 'o_orderstatus']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner", sort=False)
df_filter_3 = supplier[['s_suppkey', 's_nationkey', 's_name']]
df_filter_4 = nation[(nation.n_name == 'SAUDI ARABIA') & (~nation.n_name.isnull())]
df_filter_4 = df_filter_4[['n_nationkey', 'n_name']]
df_merge_2 = df_filter_3.merge(df_filter_4, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_3 = df_merge_1.merge(df_merge_2, left_on=['l_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_5 = lineitem[['l_orderkey', 'l_suppkey']]

# Semi join
# l_orderkey = l_orderkey AND l_suppkey != l_suppkey
#df_merge_4 = df_merge_3.merge(df_filter_5[['l_orderkey', 'l_suppkey']], how="inner", left_on=['l_orderkey', 'l_suppkey'], right_on=['l_orderkey', 'l_suppkey'], sort=False)
inner_cond = df_merge_3.merge(df_filter_5, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_4 = df_merge_3[df_merge_3.l_orderkey.isin(inner_cond)]

df_filter_6 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_6 = df_filter_6[['l_orderkey', 'l_suppkey', 'l_receiptdate', 'l_commitdate']]

# Anti join
# l_orderkey = l_orderkey AND l_suppkey != l_suppkey
#df_merge_5 = df_merge_4.merge(df_filter_6, left_on=['l_orderkey', 'l_suppkey'], right_on=['l_orderkey', 'l_suppkey'], how="outer", indicator=True, sort=False)
#df_merge_5 = df_merge_5[df_merge_5._merge == "left_only"]
inner_cond = df_merge_4.merge(df_filter_6, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_5 = df_merge_4.merge(inner_cond, left_on=['l_orderkey'], right_on=['l_orderkey'], how="outer", indicator=True, sort=False)
df_merge_5 = df_merge_5[df_merge_5._merge == "left_only"]

df_group_1 = df_merge_5 \
    .groupby(['s_name'], sort=False) \
    .agg(
        numwait=("s_name", "count"),
    )
df_group_1 = df_group_1[['numwait']]
df_sort_1 = df_group_1.sort_values(by=['numwait', 's_name'], ascending=[False, True])
df_limit_1 = df_sort_1.head(100)
#return df_limit_1

In [15]:
df_limit_1

                    numwait
s_name
Supplier#000002829       20
Supplier#000005808       18
Supplier#000000262       17
Supplier#000000496       17
Supplier#000002160       17
...                     ...
Supplier#000001916       12
Supplier#000001925       12
Supplier#000002039       12
Supplier#000002357       12
Supplier#000002483       12

[100 rows x 1 columns]

In [16]:
df_filter_1 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_1 = df_filter_1[['l_suppkey', 'l_orderkey', 'l_receiptdate', 'l_commitdate']]
df_filter_2 = orders[(orders.o_orderstatus == 'F') & (~orders.o_orderstatus.isnull())]
df_filter_2 = df_filter_2[['o_orderkey', 'o_orderstatus']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner", sort=False)
df_filter_3 = supplier[['s_suppkey', 's_nationkey', 's_name']]
df_filter_4 = nation[(nation.n_name == 'SAUDI ARABIA') & (~nation.n_name.isnull())]
df_filter_4 = df_filter_4[['n_nationkey', 'n_name']]
df_merge_2 = df_filter_3.merge(df_filter_4, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_3 = df_merge_1.merge(df_merge_2, left_on=['l_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_5 = lineitem[['l_orderkey', 'l_suppkey']]
inner_cond = df_merge_3.merge(df_filter_5, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_4 = df_merge_3[df_merge_3.l_orderkey.isin(inner_cond)]
df_filter_6 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_6 = df_filter_6[['l_orderkey', 'l_suppkey', 'l_receiptdate', 'l_commitdate']]
inner_cond = df_merge_4.merge(df_filter_6, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_5 = df_merge_4.merge(inner_cond, left_on=['l_orderkey'], right_on=['l_orderkey'], how="outer", indicator=True, sort=False)
df_merge_5 = df_merge_5[df_merge_5._merge == "left_only"]
df_group_1 = df_merge_5 \
    .groupby(['s_name'], sort=False) \
    .agg(
        numwait=("s_name", "count"),
    )
df_group_1 = df_group_1[['numwait']]
df_sort_1 = df_group_1.sort_values(by=['numwait', 's_name'], ascending=[False, True])
df_limit_1 = df_sort_1.head(100)
#return df_limit_1

In [17]:
df_limit_1

                    numwait
s_name
Supplier#000002829       20
Supplier#000005808       18
Supplier#000000262       17
Supplier#000000496       17
Supplier#000002160       17
...                     ...
Supplier#000001916       12
Supplier#000001925       12
Supplier#000002039       12
Supplier#000002357       12
Supplier#000002483       12

[100 rows x 1 columns]

In [18]:
df_filter_1 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_1 = df_filter_1[['l_suppkey', 'l_orderkey', 'l_receiptdate', 'l_commitdate']]
df_filter_2 = orders[(orders.o_orderstatus == 'F') & (~orders.o_orderstatus.isnull())]
df_filter_2 = df_filter_2[['o_orderkey', 'o_orderstatus']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner", sort=False)
df_filter_3 = supplier[['s_suppkey', 's_nationkey', 's_name']]
df_filter_4 = nation[(nation.n_name == 'SAUDI ARABIA') & (~nation.n_name.isnull())]
df_filter_4 = df_filter_4[['n_nationkey', 'n_name']]
df_merge_2 = df_filter_3.merge(df_filter_4, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_3 = df_merge_1.merge(df_merge_2, left_on=['l_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_filter_5 = lineitem[['l_orderkey', 'l_suppkey']]
inner_cond = df_merge_3.merge(df_filter_5, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_4 = df_merge_3[df_merge_3.l_orderkey.isin(inner_cond)]
df_filter_6 = lineitem[(lineitem.l_receiptdate > lineitem.l_commitdate)]
df_filter_6 = df_filter_6[['l_orderkey', 'l_suppkey', 'l_receiptdate', 'l_commitdate']]
inner_cond = df_merge_4.merge(df_filter_6, left_on='l_orderkey', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[inner_cond.l_suppkey_x != inner_cond.l_suppkey_y]['l_orderkey']
df_merge_5 = df_merge_4.merge(inner_cond, left_on=['l_orderkey'], right_on=['l_orderkey'], how="outer", indicator=True, sort=False)
df_merge_5 = df_merge_5[df_merge_5._merge == "left_only"]
df_group_1 = df_merge_5 \
    .groupby(['s_name'], sort=False, as_index=False) \
    .agg(
        numwait=("s_name", "count"),
    )
df_group_1 = df_group_1[['numwait', 's_name']]
df_sort_1 = df_group_1.sort_values(by=['numwait', 's_name'], ascending=[False, True])
df_limit_1 = df_sort_1.head(100)

In [19]:
df_limit_1

     numwait              s_name
155       20  Supplier#000002829
248       18  Supplier#000005808
371       17  Supplier#000000262
58        17  Supplier#000000496
49        17  Supplier#000002160
..       ...                 ...
11        12  Supplier#000001916
283       12  Supplier#000001925
87        12  Supplier#000002039
20        12  Supplier#000002357
352       12  Supplier#000002483

[100 rows x 2 columns]

In [20]:
df_scan_1 = nation[['n_regionkey', 'n_name', 'n_nationkey']]
df_filter_1 = df_scan_1[(df_scan_1.n_name == 'SAUDI ARABIA')]
df_scan_2 = supplier[['s_nationkey', 's_suppkey', 's_name']]
df_join_1 = df_filter_1.merge(df_scan_2, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_scan_3 = orders[['o_custkey', 'o_orderkey', 'o_orderstatus']]
df_filter_2 = df_scan_3[(df_scan_3.o_orderstatus == 'F')]
df_scan_4 = lineitem[['l_receiptdate', 'l_orderkey', 'l_commitdate', 'l_partkey', 'l_linenumber', 'l_suppkey']]
df_scan_4 = df_scan_4.rename(columns={'l_orderkey': 'l_orderkey_y', 'l_suppkey': 'l_suppkey_y'})
df_filter_3 = df_scan_4[(df_scan_4.l_receiptdate > df_scan_4.l_commitdate)]
df_join_2 = df_filter_2.merge(df_filter_3, left_on=['o_orderkey'], right_on=['l_orderkey_y'], how='inner', sort=False)
df_join_3 = df_join_1.merge(df_join_2, left_on=['s_suppkey'], right_on=['l_suppkey_y'], how='inner', sort=False)
df_scan_5 = lineitem[['l_linenumber', 'l_orderkey', 'l_partkey', 'l_suppkey']]
df_scan_5 = df_scan_5.rename(columns={'l_orderkey': 'l_orderkey_x', 'l_suppkey': 'l_suppkey_x'})
inner_cond = df_join_3.merge(df_scan_5, left_on='l_orderkey_y', right_on='l_orderkey_x', how='inner', sort=False)
inner_cond = inner_cond[(inner_cond.l_suppkey_x != inner_cond.l_suppkey_y)]
df_join_4 = df_join_3[df_join_3['l_orderkey_y'].isin(inner_cond['l_orderkey_x'])]
df_scan_6 = lineitem[['l_receiptdate', 'l_orderkey', 'l_commitdate', 'l_partkey', 'l_linenumber', 'l_suppkey']]
df_filter_4 = df_scan_6[(df_scan_6.l_receiptdate > df_scan_6.l_commitdate)]
inner_cond = df_join_4.merge(df_filter_4, left_on='l_orderkey_y', right_on='l_orderkey', how='inner', sort=False)
inner_cond = inner_cond[(inner_cond.l_suppkey != inner_cond.l_suppkey_y)]['l_orderkey']
df_join_5 = df_join_4.merge(inner_cond, left_on=['l_orderkey_y'], right_on=['l_orderkey'], how='outer', sort=False, indicator=True)
df_join_5 = df_join_5[df_join_5._merge == 'left_only'].drop('_merge', axis = 1)
df_group_1 = df_join_5 \
    .groupby(['s_name'], sort=False, as_index=False) \
    .agg(
        numwait=('s_name', 'count'),
    )

In [21]:
df_group_1

                 s_name  numwait
0    Supplier#000000074       10
1    Supplier#000000114       11
2    Supplier#000000144        4
3    Supplier#000000167       10
4    Supplier#000000188        9
..                  ...      ...
406  Supplier#000009855        8
407  Supplier#000009861        9
408  Supplier#000009891        9
409  Supplier#000009896       13
410  Supplier#000009898       11

[411 rows x 2 columns]