In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [3]:
df_filter_1 = orders[(orders.o_comment.str.contains("^.*?special.*?requests.*?$",regex=True) == False)]
df_filter_1 = df_filter_1[['o_custkey', 'o_comment', 'o_orderkey']]
df_filter_2 = customer[['c_custkey']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['o_custkey'], right_on=['c_custkey'], how="right", sort=False)
df_group_1 = df_merge_1 \
    .groupby(['c_custkey'], sort=False, as_index=False) \
    .agg(
        c_count=("o_orderkey", "count"),
    )
df_group_1 = df_group_1[['c_count', 'c_custkey']]
df_group_2 = df_group_1 \
    .groupby(['c_count'], sort=False, as_index=False) \
    .agg(
        custdist=("c_count", "count"),
    )
df_group_2 = df_group_2[['custdist', 'c_count']]
df_sort_1 = df_group_2.sort_values(by=['custdist', 'c_count'], ascending=[False, False])

In [4]:
df_sort_1

    custdist  c_count
2      50005        0
8       6641        9
17      6532       10
20      6014       11
9       5937        8
13      5639       12
6       5024       13
12      4793       19
1       4687        7
16      4587       17
7       4529       18
3       4516       20
19      4505       15
18      4446       14
5       4273       16
14      4190       21
10      3623       22
0       3265        6
21      3225       23
11      2742       24
23      2086       25
22      1948        5
26      1612       26
15      1179       27
4       1007        4
24       893       28
27       593       29
33       415        3
28       376       30
34       226       31
29       148       32
32       134        2
30        75       33
35        50       34
37        37       35
31        17        1
25        14       36
39         5       38
38         5       37
41         4       40
36         2       41
40         1       39

In [16]:
df_scan_1 = customer[['c_custkey']]
df_scan_2 = orders[(orders.o_comment.str.contains('^.*?special.*?requests.*?$', regex=True) == False)]
df_scan_2 = df_scan_2[['o_orderkey', 'o_custkey', 'o_comment']]
print(f"df_scan_2: {len(df_scan_2)}")
df_join_1 = df_scan_1.merge(df_scan_2, left_on=['c_custkey'], right_on=['o_custkey'], how='outer', sort=True)
print(f"df_join_1: {len(df_join_1)}")
df_group_1 = df_join_1 \
    .groupby(['c_custkey'], sort=False, as_index=False) \
    .agg(
        o_orderkeycount=('o_orderkey', 'count'),
        count=('o_custkey', 'count'),
    )
print(f"df_group_1: {len(df_group_1)}")
df_group_2 = df_group_1 \
    .groupby(['o_orderkeycount'], sort=False, as_index=False) \
    .agg(
        count2=('c_custkey', 'count'),
    )
print(f"df_group_2: {len(df_group_2)}")
df_output_1 = df_group_2.rename(columns={'o_orderkeycount': 'c_count', 'count2': 'custdist'})
df_output_1 = df_output_1[['c_count', 'custdist']]

df_scan_2: 1483918
df_join_1: 1533923
df_group_1: 150000
df_group_2: 42

In [14]:
print(f"df_output_1: {len(df_output_1)}")
df_output_1

df_output_1: 1

   c_count  custdist
0        0     50005

In [18]:
import json
sdqlpy_order_scan = None
with open("../../SDQL/bugs/test.json") as f:
    sdqlpy_order_scan = json.load(f)

In [32]:
pd_comments = set(list(df_scan_2['o_comment'].to_list()))
sdql_comments = set(sdqlpy_order_scan['Result']['o_comment'])

print(len(pd_comments))
print(len(sdql_comments))

1466070
1466763

In [44]:
for x in sdql_comments:
    if ("special" in x) and ("requests" in x):
        special_index = x.index("special")
        requests_index = x.index("requests")
        if requests_index > (special_index + 8):
            print(x)

In [65]:
import re
errant = list(sdql_comments - pd_comments)
print(f"There are {len(errant)} comments in SDQLpy that don't appear in Pandas")
if all([re.search('^.*?special.*?requests.*?$', x) for x in errant]):
    print("They all match the condition that we don't want to see: '%special%requests%'")
print()
print("For instance, see the following 5 comments")
for i in range(0, 5):
    print(f"- {errant[i]}")

There are 693 comments in SDQLpy that don't appear in Pandas
They all match the condition that we don't want to see: '%special%requests%'

For instance, see the following 5 comments
- regular requests above the special requests doze slyly amo
- ve the express requests wake blithely special requests? furiously
- ts. requests wake carefully. slyly special requests
- o beans affix blithely regular, final requests. silently special requests are
- e requests. requests above the special, regular requests

In [77]:
bad_comment = errant[0]
sdqlpy_condition = "(((firstIndex(p[0].o_comment, requests) > (firstIndex(p[0].o_comment, special) + 6)) and ((firstIndex(p[0].o_comment, requests) != -1) and (firstIndex(p[0].o_comment, special) != -1))) == False)"
requests = "requests"
special = "special"

print("Take the first sentence for example:")
print(f"\t{bad_comment}")
print(f"And that the SDQLpy condition was:")
print(f"\t{sdqlpy_condition}")
print(f"\t\t\t\t^ ({bad_comment.index(requests)}) \t\t\t ^({bad_comment.index(special)} + 6 = {bad_comment.index(special) + 6}) \t\t\t\t\t\t ^({bad_comment.index(requests)} != -1) \t\t\t\t ^({bad_comment.index(special)} != -1)")
print(f"\t\t\t\t\t\t\t'FALSE' \t\t\t\tAND \t\t\t\t\t'FALSE' \t\t\t\t\t\t== 'FALSE'")

Take the first sentence for example:
	regular requests above the special requests doze slyly amo
And that the SDQLpy condition was:
	(((firstIndex(p[0].o_comment, requests) > (firstIndex(p[0].o_comment, special) + 6)) and ((firstIndex(p[0].o_comment, requests) != -1) and (firstIndex(p[0].o_comment, special) != -1))) == False)
				^ (8) 			 ^(27 + 6 = 33) 						 ^(8 != -1) 				 ^(27 != -1)
							'FALSE' 				AND 					'FALSE' 						== 'FALSE'

In [83]:
hesam_results = "<41||2> -> true, <28||894> -> true, <30||378> -> true, <1||17> -> true, <29||595> -> true, <3||412> -> true, <22||3636> -> true, <32||146> -> true, <31||229> -> true, <21||4195> -> true, <15||4516> -> true, <6||3263> -> true, <40||4> -> true, <13||5028> -> true, <26||1613> -> true, <20||4509> -> true, <35||36> -> true, <25||2101> -> true, <24||2741> -> true, <10||6537> -> true, <27||1186> -> true, <9||6642> -> true, <33||77> -> true, <19||4806> -> true, <11||6007> -> true, <23||3221> -> true, <17||4583> -> true, <37||5> -> true, <14||4442> -> true, <16||4276> -> true, <36||15> -> true, <39||1> -> true, <0||50005> -> true, <4||1004> -> true, <38||5> -> true, <34||50> -> true, <18||4510> -> true, <7||4676> -> true, <8||5926> -> true, <12||5631> -> true, <5||1947> -> true, <2||133>"

In [85]:
callum_results = "<7||4676.00> -> true, <24||2741.00> -> true, <22||3636.00> -> true, <32||146.00> -> true, <18||4510.00> -> true, <40||4.00> -> true, <34||50.00> -> true, <1||17.00> -> true, <8||5926.00> -> true, <41||2.00> -> true, <23||3221.00> -> true, <6||3263.00> -> true, <19||4806.00> -> true, <20||4509.00> -> true, <31||229.00> -> true, <10||6537.00> -> true, <4||1004.00> -> true, <11||6007.00> -> true, <14||4442.00> -> true, <33||77.00> -> true, <13||5028.00> -> true, <35||36.00> -> true, <15||4516.00> -> true, <12||5631.00> -> true, <37||5.00> -> true, <3||412.00> -> true, <26||1613.00> -> true, <38||5.00> -> true, <27||1186.00> -> true, <0||50005.00> -> true, <39||1.00> -> true, <21||4195.00> -> true, <17||4583.00> -> true, <30||378.00> -> true, <2||133.00> -> true, <29||595.00> -> true, <5||1947.00> -> true, <28||894.00> -> true, <25||2101.00> -> true, <16||4276.00> -> true, <36||15.00> -> true, <9||6642.00>"

In [92]:
h_1 = []
h_2 = []
for x in hesam_results.split(" -> true, "):
    one, two = x.strip()[1:-1].split("||")
    h_1.append(one)
    h_2.append(int(two))
    
c_1 = []
c_2 = []
for x in callum_results.split(" -> true, "):
    one, two = x.strip()[1:-1].split("||")
    c_1.append(one)
    c_2.append(int(two.split(".")[0]))

In [93]:
print(len(c_1) == len(h_1))
print(len(c_2) == len(h_2))

from collections import Counter
print(Counter(c_1) == Counter(h_1))
print(Counter(c_2) == Counter(h_2))

True
True
True
True