In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd

# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [17]:
np.random.seed(0)
left = pd.DataFrame({'lkey': ['A', 'B', 'C', 'D'], 'value': np.random.randn(4)})
right = pd.DataFrame({'rkey': ['B', 'D', 'E', 'F'], 'value': np.random.randn(4)})

inner = left.merge(right, left_on='lkey', right_on='rkey', how='inner')
print(inner.columns)
print(inner)

Index(['lkey', 'value_x', 'rkey', 'value_y'], dtype='object')
  lkey            value_x rkey            value_y
0    B 0.4001572083672233    B 1.8675579901499675
1    D  2.240893199201458    D -0.977277879876411

In [39]:
df_filter_1 = lineitem[['l_quantity', 'l_orderkey']]
df_filter_2 = orders[['o_orderkey', 'o_orderdate', 'o_totalprice', 'o_custkey']]
df_filter_3 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_group_1 = df_filter_3 \
    .groupby(['l_orderkey'], sort=False) \
    .agg(
        sum_l_quantity=("l_quantity", "sum"),
    )
df_group_1['suml_quantity'] = df_group_1.sum_l_quantity
df_group_1 = df_group_1[df_group_1.suml_quantity > 300]
df_group_1 = df_group_1.reset_index(level=0)
df_merge_1 = df_filter_2.merge(df_group_1, left_on=['o_orderkey'], right_on=['l_orderkey'], how="inner")
df_merge_1 = df_merge_1[['o_orderkey', 'o_orderdate', 'o_totalprice', 'o_custkey', 'l_orderkey']]
df_filter_4 = customer[['c_name', 'c_custkey']]
df_merge_2 = df_merge_1.merge(df_filter_4, left_on=['o_custkey'], right_on=['c_custkey'], how="inner")
df_merge_2 = df_merge_2[['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice', 'l_orderkey']]
df_merge_3 = df_filter_1.merge(df_merge_2, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner")
df_merge_3 = df_merge_3[['c_custkey', 'o_orderkey', 'c_name', 'o_orderdate', 'o_totalprice', 'l_quantity']]
df_group_2 = df_merge_3 \
    .groupby(['c_custkey', 'o_orderkey', 'c_name', 'o_orderdate', 'o_totalprice'], sort=False) \
    .agg(
        suml_quantity=("l_quantity", "sum"),
    )
df_group_2 = df_group_2[['suml_quantity']]
df_sort_1 = df_group_2.sort_values(by=['o_totalprice', 'o_orderdate'], ascending=[False, True])
df_sort_1 = df_sort_1[['suml_quantity']]
df_limit_1 = df_sort_1[['suml_quantity']]
df_limit_1 = df_limit_1.head(100)
#return df_limit_1

In [40]:
df_limit_1

                                                                  suml_quantity
c_custkey o_orderkey c_name             o_orderdate o_totalprice
128120    4722021    Customer#000128120 1994-04-07  544089.09             323.0
144617    3043270    Customer#000144617 1997-02-12  530604.44             317.0
13940     2232932    Customer#000013940 1997-04-13  522720.61             304.0
66790     2199712    Customer#000066790 1996-09-30  515531.82             327.0
46435     4745607    Customer#000046435 1997-07-03  508047.99             309.0
15272     3883783    Customer#000015272 1993-07-28  500241.33             302.0
146608    3342468    Customer#000146608 1994-06-12  499794.58             303.0
96103     5984582    Customer#000096103 1992-03-16  494398.79             312.0
24341     1474818    Customer#000024341 1992-11-15  491348.26             302.0
137446    5489475    Customer#000137446 1997-05-23  487763.25             311.0
107590    4267751    Customer#000107590 1994-11-04  485141.38             301.0
50008     2366755    Customer#000050008 1996-12-09  483891.26             302.0
15619     3767271    Customer#000015619 1996-08-07  480083.96             318.0
77260     1436544    Customer#000077260 1992-09-12  479499.43             307.0
109379    5746311    Customer#000109379 1996-10-10  478064.11             302.0
54602     5832321    Customer#000054602 1997-02-09  471220.08             307.0
105995    2096705    Customer#000105995 1994-07-03  469692.58             307.0
148885    2942469    Customer#000148885 1992-05-31  469630.44             313.0
114586    551136     Customer#000114586 1993-05-19  469605.59             308.0
105260    5296167    Customer#000105260 1996-09-06  469360.57             303.0
147197    1263015    Customer#000147197 1997-02-02  467149.67             320.0
64483     2745894    Customer#000064483 1996-07-04  466991.35             304.0
136573    2761378    Customer#000136573 1996-05-31  461282.73             301.0
16384     502886     Customer#000016384 1994-04-12  458378.92             312.0
117919    2869152    Customer#000117919 1996-06-20  456815.92             317.0
12251     735366     Customer#000012251 1993-11-24  455107.26             309.0
120098    1971680    Customer#000120098 1995-06-14  453451.23             308.0
66098     5007490    Customer#000066098 1992-08-07  453436.16             304.0
117076    4290656    Customer#000117076 1997-02-05  449545.85             301.0
129379    4720454    Customer#000129379 1997-06-07  448665.79             303.0
126865    4702759    Customer#000126865 1994-11-07  447606.65             320.0
88876     983201     Customer#000088876 1993-12-30  446717.46             304.0
36619     4806726    Customer#000036619 1995-01-17  446704.09             328.0
141823    2806245    Customer#000141823 1996-12-29  446269.12             310.0
53029     2662214    Customer#000053029 1993-08-13  446144.49             302.0
18188     3037414    Customer#000018188 1995-01-25  443807.22             308.0
66533     29158      Customer#000066533 1995-10-21  443576.5              305.0
37729     4134341    Customer#000037729 1995-06-29  441082.97             309.0
3566      2329187    Customer#000003566 1998-01-04  439803.36             304.0
45538     4527553    Customer#000045538 1994-05-22  436275.31             305.0
81581     4739650    Customer#000081581 1995-11-04  435405.9              305.0
119989    1544643    Customer#000119989 1997-09-20  434568.25             320.0
3680      3861123    Customer#000003680 1998-07-03  433525.97             301.0
113131    967334     Customer#000113131 1995-12-15  432957.75             301.0
141098    565574     Customer#000141098 1995-09-24  430986.69             301.0
93392     5200102    Customer#000093392 1997-01-22  425487.51             304.0
15631     1845057    Customer#000015631 1994-05-12  419879.59             302.0
112987    4439686    Customer#000112987 1996-09-17  418161.49             305.0
12599     4259524    Customer#000012599 1998-02-12  415200.61             304.0
105410    4478371    Customer#000105410 1996-03-05  412754.51             302.0
149842    5156581    Customer#000149842 1994-05-30  411329.35             302.0
10129     5849444    Customer#000010129 1994-03-21  409129.85             309.0
69904     1742403    Customer#000069904 1996-10-19  408513.0              305.0
17746     6882       Customer#000017746 1997-04-09  408446.93             303.0
13072     1481925    Customer#000013072 1998-03-15  399195.47             301.0
82441     857959     Customer#000082441 1994-02-07  382579.74             305.0
88703     2995076    Customer#000088703 1994-01-30  363812.12             302.0

In [8]:
start_t = time.time()

df_filter_1 = customer[['c_custkey', 'c_name', 'c_address', 'c_nationkey', 'c_phone', 'c_acctbal', 'c_mktsegment', 'c_comment']]
df_filter_2 = orders[['o_orderkey', 'o_orderdate', 'o_totalprice', 'o_custkey']]
df_filter_3 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_group_1 = df_filter_3 \
    .groupby(['l_orderkey']) \
    .agg(
        suml_quantity=("l_quantity", "sum"),
    )
df_group_1 = df_group_1[df_group_1.suml_quantity > 300]
df_merge_1 = df_filter_2.merge(df_group_1, left_on="o_orderkey", right_on="l_orderkey")
df_merge_1 = df_merge_1[['o_orderkey', 'o_orderdate', 'o_totalprice', 'o_custkey']]
df_sort_1 = df_merge_1.sort_values(by=['o_custkey'], ascending=[True])
df_sort_1 = df_sort_1[['o_orderkey', 'o_orderdate', 'o_totalprice', 'o_custkey']]
df_merge_2 = df_filter_1.merge(df_sort_1, left_on="c_custkey", right_on="o_custkey")
df_merge_2 = df_merge_2[['c_name', 'c_custkey', 'o_orderkey', 'o_orderdate', 'o_totalprice']]
df_filter_4 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_merge_3 = df_merge_2.merge(df_filter_4, left_on="o_orderkey", right_on="l_orderkey")
df_merge_3 = df_merge_3[['c_custkey', 'o_orderkey', 'c_name', 'o_orderdate', 'o_totalprice', 'l_quantity']]
df_sort_2 = df_merge_3.sort_values(by=['c_custkey', 'o_orderkey'], ascending=[True, True])
df_sort_2 = df_sort_2[['c_custkey', 'o_orderkey', 'c_name', 'o_orderdate', 'o_totalprice', 'l_quantity']]
df_group_2 = df_sort_2 \
    .groupby(['c_custkey', 'o_orderkey', 'c_name', 'o_orderdate', 'o_totalprice']) \
    .agg(
        suml_quantity=("l_quantity", "sum"),
    )
df_group_2 = df_group_2[['suml_quantity']]
df_sort_3 = df_group_2.sort_values(by=['o_totalprice', 'o_orderdate'], ascending=[False, True])
df_sort_3 = df_sort_3[['suml_quantity']]
df_limit_1 = df_sort_3[['suml_quantity']]
result = df_limit_1.head(100)

print(len(result))
print(result)

print("---" * 5)
print(time.time() - start_t)
print("---" * 5)

57
                                                                  suml_quantity
c_custkey o_orderkey c_name             o_orderdate o_totalprice
128120    4722021    Customer#000128120 1994-04-07  544089.09             323.0
144617    3043270    Customer#000144617 1997-02-12  530604.44             317.0
13940     2232932    Customer#000013940 1997-04-13  522720.61             304.0
66790     2199712    Customer#000066790 1996-09-30  515531.82             327.0
46435     4745607    Customer#000046435 1997-07-03  508047.99             309.0
15272     3883783    Customer#000015272 1993-07-28  500241.33             302.0
146608    3342468    Customer#000146608 1994-06-12  499794.58             303.0
96103     5984582    Customer#000096103 1992-03-16  494398.79             312.0
24341     1474818    Customer#000024341 1992-11-15  491348.26             302.0
137446    5489475    Customer#000137446 1997-05-23  487763.25             311.0
107590    4267751    Customer#000107590 1994-11-04  485141.38             301.0
50008     2366755    Customer#000050008 1996-12-09  483891.26             302.0
15619     3767271    Customer#000015619 1996-08-07  480083.96             318.0
77260     1436544    Customer#000077260 1992-09-12  479499.43             307.0
109379    5746311    Customer#000109379 1996-10-10  478064.11             302.0
54602     5832321    Customer#000054602 1997-02-09  471220.08             307.0
105995    2096705    Customer#000105995 1994-07-03  469692.58             307.0
148885    2942469    Customer#000148885 1992-05-31  469630.44             313.0
114586    551136     Customer#000114586 1993-05-19  469605.59             308.0
105260    5296167    Customer#000105260 1996-09-06  469360.57             303.0
147197    1263015    Customer#000147197 1997-02-02  467149.67             320.0
64483     2745894    Customer#000064483 1996-07-04  466991.35             304.0
136573    2761378    Customer#000136573 1996-05-31  461282.73             301.0
16384     502886     Customer#000016384 1994-04-12  458378.92             312.0
117919    2869152    Customer#000117919 1996-06-20  456815.92             317.0
12251     735366     Customer#000012251 1993-11-24  455107.26             309.0
120098    1971680    Customer#000120098 1995-06-14  453451.23             308.0
66098     5007490    Customer#000066098 1992-08-07  453436.16             304.0
117076    4290656    Customer#000117076 1997-02-05  449545.85             301.0
129379    4720454    Customer#000129379 1997-06-07  448665.79             303.0
126865    4702759    Customer#000126865 1994-11-07  447606.65             320.0
88876     983201     Customer#000088876 1993-12-30  446717.46             304.0
36619     4806726    Customer#000036619 1995-01-17  446704.09             328.0
141823    2806245    Customer#000141823 1996-12-29  446269.12             310.0
53029     2662214    Customer#000053029 1993-08-13  446144.49             302.0
18188     3037414    Customer#000018188 1995-01-25  443807.22             308.0
66533     29158      Customer#000066533 1995-10-21  443576.5              305.0
37729     4134341    Customer#000037729 1995-06-29  441082.97             309.0
3566      2329187    Customer#000003566 1998-01-04  439803.36             304.0
45538     4527553    Customer#000045538 1994-05-22  436275.31             305.0
81581     4739650    Customer#000081581 1995-11-04  435405.9              305.0
119989    1544643    Customer#000119989 1997-09-20  434568.25             320.0
3680      3861123    Customer#000003680 1998-07-03  433525.97             301.0
113131    967334     Customer#000113131 1995-12-15  432957.75             301.0
141098    565574     Customer#000141098 1995-09-24  430986.69             301.0
93392     5200102    Customer#000093392 1997-01-22  425487.51             304.0
15631     1845057    Customer#000015631 1994-05-12  419879.59             302.0
112987    4439686    Customer#000112987 1996-09-17  418161.49             305.0
12599     4259524    Customer#000012599 1998-02-12  415200.61             304.0
105410    4478371    Customer#000105410 1996-03-05  412754.51             302.0
149842    5156581    Customer#000149842 1994-05-30  411329.35             302.0
10129     5849444    Customer#000010129 1994-03-21  409129.85             309.0
69904     1742403    Customer#000069904 1996-10-19  408513.0              305.0
17746     6882       Customer#000017746 1997-04-09  408446.93             303.0
13072     1481925    Customer#000013072 1998-03-15  399195.47             301.0
82441     857959     Customer#000082441 1994-02-07  382579.74             305.0
88703     2995076    Customer#000088703 1994-01-30  363812.12             302.0
---------------
6.068443536758423
---------------

In [9]:
li_aggr = lineitem \
    .groupby(["l_orderkey"]) \
    .agg(sum_quantity=("l_quantity", "sum"))

li_filt = li_aggr[li_aggr.sum_quantity > 300].reset_index()
li_proj = li_filt[["l_orderkey"]]

ord_filt = orders[orders.o_orderkey.isin(li_proj["l_orderkey"])]

cu_proj = customer[["c_custkey", "c_name"]]
ord_cu_join = pd.merge(cu_proj, ord_filt, left_on = "c_custkey", right_on = "o_custkey", how = "inner")
ord_cu_join = ord_cu_join[["o_orderkey", "c_name", "c_custkey", "o_orderdate", "o_totalprice"]]

li_ord_join = pd.merge(ord_cu_join, lineitem, left_on = "o_orderkey", right_on = "l_orderkey", how = "inner")

result = li_ord_join \
    .groupby(["c_name", "c_custkey", "o_orderkey", "o_orderdate", "o_totalprice"]) \
    .agg(sum_quantity=("l_quantity", "sum"))
    
result = result.sort_values(by=['o_totalprice', 'o_orderdate'], ascending=[False, True])
result = result.head(100)

print(len(result))
print(result)

57
                                                                  sum_quantity
c_name             c_custkey o_orderkey o_orderdate o_totalprice
Customer#000128120 128120    4722021    1994-04-07  544089.09            323.0
Customer#000144617 144617    3043270    1997-02-12  530604.44            317.0
Customer#000013940 13940     2232932    1997-04-13  522720.61            304.0
Customer#000066790 66790     2199712    1996-09-30  515531.82            327.0
Customer#000046435 46435     4745607    1997-07-03  508047.99            309.0
Customer#000015272 15272     3883783    1993-07-28  500241.33            302.0
Customer#000146608 146608    3342468    1994-06-12  499794.58            303.0
Customer#000096103 96103     5984582    1992-03-16  494398.79            312.0
Customer#000024341 24341     1474818    1992-11-15  491348.26            302.0
Customer#000137446 137446    5489475    1997-05-23  487763.25            311.0
Customer#000107590 107590    4267751    1994-11-04  485141.38            301.0
Customer#000050008 50008     2366755    1996-12-09  483891.26            302.0
Customer#000015619 15619     3767271    1996-08-07  480083.96            318.0
Customer#000077260 77260     1436544    1992-09-12  479499.43            307.0
Customer#000109379 109379    5746311    1996-10-10  478064.11            302.0
Customer#000054602 54602     5832321    1997-02-09  471220.08            307.0
Customer#000105995 105995    2096705    1994-07-03  469692.58            307.0
Customer#000148885 148885    2942469    1992-05-31  469630.44            313.0
Customer#000114586 114586    551136     1993-05-19  469605.59            308.0
Customer#000105260 105260    5296167    1996-09-06  469360.57            303.0
Customer#000147197 147197    1263015    1997-02-02  467149.67            320.0
Customer#000064483 64483     2745894    1996-07-04  466991.35            304.0
Customer#000136573 136573    2761378    1996-05-31  461282.73            301.0
Customer#000016384 16384     502886     1994-04-12  458378.92            312.0
Customer#000117919 117919    2869152    1996-06-20  456815.92            317.0
Customer#000012251 12251     735366     1993-11-24  455107.26            309.0
Customer#000120098 120098    1971680    1995-06-14  453451.23            308.0
Customer#000066098 66098     5007490    1992-08-07  453436.16            304.0
Customer#000117076 117076    4290656    1997-02-05  449545.85            301.0
Customer#000129379 129379    4720454    1997-06-07  448665.79            303.0
Customer#000126865 126865    4702759    1994-11-07  447606.65            320.0
Customer#000088876 88876     983201     1993-12-30  446717.46            304.0
Customer#000036619 36619     4806726    1995-01-17  446704.09            328.0
Customer#000141823 141823    2806245    1996-12-29  446269.12            310.0
Customer#000053029 53029     2662214    1993-08-13  446144.49            302.0
Customer#000018188 18188     3037414    1995-01-25  443807.22            308.0
Customer#000066533 66533     29158      1995-10-21  443576.5             305.0
Customer#000037729 37729     4134341    1995-06-29  441082.97            309.0
Customer#000003566 3566      2329187    1998-01-04  439803.36            304.0
Customer#000045538 45538     4527553    1994-05-22  436275.31            305.0
Customer#000081581 81581     4739650    1995-11-04  435405.9             305.0
Customer#000119989 119989    1544643    1997-09-20  434568.25            320.0
Customer#000003680 3680      3861123    1998-07-03  433525.97            301.0
Customer#000113131 113131    967334     1995-12-15  432957.75            301.0
Customer#000141098 141098    565574     1995-09-24  430986.69            301.0
Customer#000093392 93392     5200102    1997-01-22  425487.51            304.0
Customer#000015631 15631     1845057    1994-05-12  419879.59            302.0
Customer#000112987 112987    4439686    1996-09-17  418161.49            305.0
Customer#000012599 12599     4259524    1998-02-12  415200.61            304.0
Customer#000105410 105410    4478371    1996-03-05  412754.51            302.0
Customer#000149842 149842    5156581    1994-05-30  411329.35            302.0
Customer#000010129 10129     5849444    1994-03-21  409129.85            309.0
Customer#000069904 69904     1742403    1996-10-19  408513.0             305.0
Customer#000017746 17746     6882       1997-04-09  408446.93            303.0
Customer#000013072 13072     1481925    1998-03-15  399195.47            301.0
Customer#000082441 82441     857959     1994-02-07  382579.74            305.0
Customer#000088703 88703     2995076    1994-01-30  363812.12            302.0

## Query 4

In [26]:
start_t = time.time()

li_filt = lineitem[lineitem.l_commitdate < lineitem.l_receiptdate]
li_proj = li_filt[["l_orderkey"]]

ord_filt = orders[(orders.o_orderdate >= "1993-07-01") & (orders.o_orderdate < "1993-10-01") & orders.o_orderkey.isin(li_proj["l_orderkey"])]

results = ord_filt \
    .groupby(["o_orderpriority"]) \
    .agg(
        order_count=("o_orderdate", "count")
    )

results = results.sort_values(by=['o_orderpriority'], ascending=[True])

result = results.head(1)

print(result)

print("---" * 5)
print(time.time() - start_t)
print("---" * 5)

                 order_count
o_orderpriority
1-URGENT               10594
---------------
1.6090328693389893
---------------

In [27]:
start_t = time.time()

df_filter_1 = orders[(orders.o_orderdate >= pd.Timestamp('1993-07-01 00:00:00')) & (orders.o_orderdate < pd.Timestamp('1993-10-01 00:00:00'))]
df_filter_1 = df_filter_1[['o_orderkey', 'o_custkey', 'o_orderstatus', 'o_totalprice', 'o_orderdate', 'o_orderpriority', 'o_clerk', 'o_shippriority', 'o_comment']]
df_filter_2 = lineitem[lineitem.l_commitdate < lineitem.l_receiptdate]
df_filter_2 = df_filter_2[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_merge_1 = df_filter_1[df_filter_1.o_orderkey.isin(df_filter_2["l_orderkey"])]
df_merge_1 = df_merge_1[['o_orderpriority']]
df_sort_1 = df_merge_1.sort_values(by=['o_orderpriority'], ascending=[True])
df_sort_1 = df_sort_1[['o_orderpriority']]
df_group_1 = df_sort_1 \
    .groupby(['o_orderpriority']) \
    .agg(
        order_count=("o_orderpriority", "count"),
    )
df_group_1 = df_group_1[['order_count']]
df_limit_1 = df_group_1[['order_count']]
result = df_limit_1.head(1)

print(result)

print("---" * 5)
print(time.time() - start_t)
print("---" * 5)

                 order_count
o_orderpriority
1-URGENT               10594
---------------
2.8174843788146973
---------------

In [1]:
start_t = time.time()

df_filter_1 = orders[(orders.o_orderdate >= pd.Timestamp('1993-07-01 00:00:00')) & (orders.o_orderdate < pd.Timestamp('1993-10-01 00:00:00'))]
df_filter_1 = df_filter_1[['o_orderkey', 'o_custkey', 'o_orderstatus', 'o_totalprice', 'o_orderdate', 'o_orderpriority', 'o_clerk', 'o_shippriority', 'o_comment']]
df_filter_2 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_merge_1 = df_filter_1[df_filter_1.o_orderkey.isin(df_filter_2["l_orderkey"])]
df_merge_1 = df_merge_1[['o_orderpriority']]
df_sort_1 = df_merge_1.sort_values(by=['o_orderpriority'], ascending=[True])
df_sort_1 = df_sort_1[['o_orderpriority']]
df_group_1 = df_sort_1 \
    .groupby(['o_orderpriority']) \
    .agg(
        order_count=("o_orderpriority", "count"),
    )
df_group_1 = df_group_1[['order_count']]
df_limit_1 = df_group_1[['order_count']]
df_limit_1 = df_limit_1.head(1)
result = df_limit_1

print(result)

print("---" * 5)
print(time.time() - start_t)
print("---" * 5)

NameError: name 'time' is not defined