In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

### The Query

In [3]:
df_filter_1 = orders[orders.o_orderstatus == 'F']
df_filter_1 = df_filter_1[['o_orderkey', 'o_custkey', 'o_orderstatus', 'o_totalprice', 'o_orderdate', 'o_orderpriority', 'o_clerk', 'o_shippriority', 'o_comment']]
df_filter_2 = lineitem[lineitem.l_receiptdate > lineitem.l_commitdate]
df_filter_2 = df_filter_2[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_filter_3 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_filter_4 = nation[nation.n_name == 'SAUDI ARABIA']
df_filter_4 = df_filter_4[['n_nationkey']]
df_merge_1 = df_filter_3.merge(df_filter_4, left_on=['s_nationkey'], right_on=['n_nationkey'])
df_merge_1 = df_merge_1[['s_name', 's_suppkey']]
df_merge_2 = df_filter_2.merge(df_merge_1, left_on=['l_suppkey'], right_on=['s_suppkey'])
df_merge_2 = df_merge_2[['s_name', 'l_suppkey', 'l_orderkey']]

In [24]:
df_filter_5 = lineitem[lineitem.l_receiptdate > lineitem.l_commitdate]
df_filter_5 = df_filter_5[['l_orderkey', 'l_suppkey']]

# Print columns
print("df_merge_2: " + str(df_merge_2.columns) + " length: " + str(len(df_merge_2)))
print("df_filter_5: " + str(df_filter_5.columns) + " length: " + str(len(df_filter_5)))

# Do an anti-join

"""Return rows in x which are not present in y"""
ans = pd.merge(left=df_merge_2, right=df_filter_5, how='outer', indicator=True, left_on=['l_orderkey'], right_on=['l_orderkey'])
print(len(ans))
ans = ans[ans.l_suppkey_x != ans.l_suppkey_y]
print(len(ans))
print(ans["_merge"].value_counts())
ans = ans.loc[ans._merge == 'left_only', :].drop(columns='_merge')

print("ans: " + str(ans.columns) + "\nLength: " + str(len(ans)))


# Don't forget about the not-equal condition

df_merge_2: Index(['s_name', 'l_suppkey', 'l_orderkey'], dtype='object') length: 156739
df_filter_5: Index(['l_orderkey', 'l_suppkey'], dtype='object') length: 3793296
3827611
3670836
right_only    3274302
both           396534
left_only           0
Name: _merge, dtype: int64
ans: Index(['s_name', 'l_suppkey_x', 'l_orderkey', 'l_suppkey_y'], dtype='object')
Length: 0

In [15]:
df_filter_5 = lineitem[lineitem.l_receiptdate > lineitem.l_commitdate]
df_filter_5 = df_filter_5[['l_orderkey', 'l_suppkey']]

# Print columns
print("df_merge_2: " + str(df_merge_2.columns) + " length: " + str(len(df_merge_2)))
print("df_filter_5: " + str(df_filter_5.columns) + " length: " + str(len(df_filter_5)))
#perform outer join
outer = df_merge_2.merge(df_filter_5, how='outer', left_on=['l_orderkey'], right_on=['l_orderkey'], indicator=True)



print("Len of outer at start: " + str(len(outer)))
print(outer["_merge"].value_counts())


outer = outer[outer.l_suppkey_x != outer.l_suppkey_y]

print("Len of outer after remove l_suppkey match: " + str(len(outer)))

#perform anti-join!!!

#outer = outer[(outer._merge != 'both')]

#print("Len of outer after exclude both: " + str(len(outer)))
print("outer: " + str(outer.columns))


print(outer.head())

print(outer["_merge"].value_counts())

outer = outer[(outer._merge == 'both')]
outer = outer[['s_name', 'l_suppkey_y', 'l_orderkey']]

print("Len of outer when set only to left: " + str(len(outer)))


#df_merge_3 = outer[(outer._merge=='left_only')].drop('_merge', axis=1)

#df_merge_3 = df_merge_3[df_merge_3.l_suppkey_x != df_merge_3.l_suppkey_y]
#print("df_merge_3: " + str(df_merge_3.columns))
#df_merge_3 = df_merge_3[['s_name', 'l_suppkey_y', 'l_orderkey']]

df_merge_2: Index(['s_name', 'l_suppkey', 'l_orderkey'], dtype='object') length: 156739
df_filter_5: Index(['l_orderkey', 'l_suppkey'], dtype='object') length: 3793296
Len of outer at start: 3827611
right_only    3274302
both           553309
left_only           0
Name: _merge, dtype: int64
Len of outer after remove l_suppkey match: 3670836
outer: Index(['s_name', 'l_suppkey_x', 'l_orderkey', 'l_suppkey_y', '_merge'], dtype='object')
               s_name  l_suppkey_x  l_orderkey  l_suppkey_y _merge
0  Supplier#000001534       1534.0           1         7706   both
1  Supplier#000001534       1534.0           1         7311   both
2  Supplier#000001534       1534.0           1         4633   both
4  Supplier#000001534       1534.0       28132         6905   both
6  Supplier#000001534       1534.0       40420         1907   both
right_only    3274302
both           396534
left_only           0
Name: _merge, dtype: int64
Len of outer when set only to left: 396534

In [10]:
outer

        s_name  l_suppkey_y  l_orderkey
4          NaN          NaN           2
5          NaN          NaN           3
6          NaN          NaN           3
7          NaN          NaN           4
8          NaN          NaN           5
...        ...          ...         ...
3827602    NaN          NaN     5999972
3827603    NaN          NaN     5999974
3827604    NaN          NaN     5999975
3827605    NaN          NaN     5999975
3827606    NaN          NaN     5999975

[3274302 rows x 3 columns]

In [ ]:
df_merge_3.sort_values(by="l_orderkey")

Empty DataFrame
Columns: [s_name, l_suppkey_y, l_orderkey]
Index: []

In [ ]:



# Refer to the renamed columns
df_sort_1 = df_merge_3.sort_values(by=['l_orderkey'], ascending=[True])
# Edit output
df_sort_1 = df_sort_1[['s_name', 'l_suppkey_y', 'l_orderkey']]
df_merge_4 = df_filter_1.merge(df_sort_1, left_on=['o_orderkey'], right_on=['l_orderkey'])
# Edit output
df_merge_4 = df_merge_4[['s_name', 'l_suppkey_y', 'l_orderkey', 'o_orderkey']]
df_filter_6 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]

# Print columns
print("df_merge_4: " + str(df_merge_4.columns))
print("df_filter_6: " + str(df_filter_6.columns))

# Swap from semi-join to using an inner join
df_merge_5 = df_merge_4.merge(df_filter_6, left_on=["o_orderkey"], right_on=["l_orderkey"], how="inner")
# df_merge_5 = df_merge_4[df_merge_4.o_orderkey.isin(df_filter_6["l_orderkey"])]
print("df_merge_5: " + str(df_merge_5.columns))

# Edit columns
df_merge_5 = df_merge_5[df_merge_5.l_suppkey_y != df_merge_5.l_suppkey]
df_merge_5 = df_merge_5[['s_name']]
df_sort_2 = df_merge_5.sort_values(by=['s_name'], ascending=[True])
df_sort_2 = df_sort_2[['s_name']]
df_group_1 = df_sort_2 \
    .groupby(['s_name'], sort=False) \
    .agg(
        numwait=("s_name", "count"),
    )
df_group_1 = df_group_1[['numwait']]
df_sort_3 = df_group_1.sort_values(by=['numwait', 's_name'], ascending=[False, True])
df_sort_3 = df_sort_3[['numwait']]
df_limit_1 = df_sort_3[['numwait']]
df_limit_1 = df_limit_1.head(100)
# return df_limit_1

df_merge_4: Index(['s_name', 'l_suppkey_y', 'l_orderkey', 'o_orderkey'], dtype='object')
df_filter_6: Index(['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity',
       'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag',
       'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate',
       'l_shipinstruct', 'l_shipmode', 'l_comment'],
      dtype='object')
df_merge_5: Index(['s_name', 'l_suppkey_y', 'l_orderkey_x', 'o_orderkey', 'l_orderkey_y',
       'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity',
       'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag',
       'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate',
       'l_shipinstruct', 'l_shipmode', 'l_comment'],
      dtype='object')

In [ ]:
df_limit_1

Empty DataFrame
Columns: [numwait]
Index: []