In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [3]:
df_filter_1 = customer[customer.c_phone.str.slice(0, 2).isin(['13', '31', '23', '29', '30', '18', '17'])]
df_filter_1 = df_filter_1[['c_phone', 'c_acctbal', 'c_custkey']]
df_filter_2 = customer[(customer.c_acctbal>0) & (~customer.c_acctbal.isnull()) & customer.c_phone.str.slice(0, 2).isin(['13', '31', '23', '29', '30', '18', '17'])]
df_filter_2 = df_filter_2[['c_acctbal', 'c_phone']]
df_aggr_1 = pd.DataFrame()
df_aggr_1['avgc_acctbal'] = [(df_filter_2.c_acctbal).mean()]
df_aggr_1 = df_aggr_1[['avgc_acctbal']]
df_limit_1 = df_aggr_1.head(1)
df_merge_1 = df_filter_1.merge(df_limit_1, how="cross", sort=False)
df_merge_1 = df_merge_1[(df_merge_1.c_acctbal > df_merge_1.avgc_acctbal)]
df_filter_3 = orders[['o_custkey']]
df_merge_2 = df_merge_1.merge(df_filter_3, left_on=['c_custkey'], right_on=['o_custkey'], how="outer", indicator=True, sort=False)
df_merge_2 = df_merge_2[df_merge_2._merge == "left_only"]
df_merge_2['cntrycode'] = df_merge_2.c_phone.str.slice(0, 2)
df_group_1 = df_merge_2 \
    .groupby(['cntrycode'], sort=False, as_index=False) \
    .agg(
        numcust=("cntrycode", "count"),
        totacctbal=("c_acctbal", "sum"),
    )
df_group_1 = df_group_1[['numcust', 'totacctbal', 'cntrycode']]
df_sort_1 = df_group_1.sort_values(by=['cntrycode'], ascending=[True])
df_limit_2 = df_sort_1.head(1)
#return df_limit_2

In [4]:
df_limit_2

   numcust  totacctbal cntrycode
3      888  6737713.99        13

In [5]:
df_filter_1 = customer[customer.c_phone.str.slice(0, 2).isin(['13', '31', '23', '29', '30', '18', '17'])]
df_filter_1 = df_filter_1[['c_phone', 'c_acctbal', 'c_custkey']]
df_filter_2 = customer[(customer.c_acctbal>0) & (~customer.c_acctbal.isnull()) & customer.c_phone.str.slice(0, 2).isin(['13', '31', '23', '29', '30', '18', '17'])]
df_filter_2 = df_filter_2[['c_acctbal', 'c_phone']]
df_aggr_1 = pd.DataFrame()
df_aggr_1['avgc_acctbal'] = [(df_filter_2.c_acctbal).mean()]
df_aggr_1 = df_aggr_1[['avgc_acctbal']]
df_limit_1 = df_aggr_1.head(1)
df_merge_1 = df_filter_1.merge(df_limit_1, how="cross", sort=False)
df_merge_1 = df_merge_1[(df_merge_1.c_acctbal > df_merge_1.avgc_acctbal)]
df_filter_3 = orders[['o_custkey']]
df_merge_2 = df_merge_1.merge(df_filter_3, left_on=['c_custkey'], right_on=['o_custkey'], how="outer", indicator=True, sort=False)
df_merge_2 = df_merge_2[df_merge_2._merge == "left_only"]
df_merge_2['cntrycode'] = df_merge_2.c_phone.str.slice(0, 2)
df_group_1 = df_merge_2 \
    .groupby(['cntrycode'], sort=False, as_index=False) \
    .agg(
        numcust=("cntrycode", "count"),
        totacctbal=("c_acctbal", "sum"),
    )
df_group_1 = df_group_1[['numcust', 'totacctbal', 'cntrycode']]
df_sort_1 = df_group_1.sort_values(by=['cntrycode'], ascending=[True])
df_limit_2 = df_sort_1.head(1)

In [6]:
df_limit_2

   numcust  totacctbal cntrycode
3      888  6737713.99        13

In [7]:
df_scan_1 = customer[customer.c_phone.str.slice(0, 2).isin(['13', '17', '18', '23', '29', '30', '31']) & (customer.c_acctbal > 0.0)]
df_scan_1 = df_scan_1[['c_phone', 'c_acctbal']]
df_aggr_1 = pd.DataFrame()
df_aggr_1['c_acctbalmean'] = [df_scan_1.c_acctbal.mean()]
df_scan_2 = customer[customer.c_phone.str.slice(0, 2).isin(['13', '17', '18', '23', '29', '30', '31'])]
df_scan_2 = df_scan_2[['c_custkey', 'c_phone', 'c_acctbal']]
df_scan_3 = orders[['o_custkey']]
df_join_1 = df_scan_2.merge(df_scan_3, left_on=['c_custkey'], right_on=['o_custkey'], how='outer', sort=False, indicator=True)
df_join_1 = df_join_1[df_join_1._merge == 'left_only'].drop('_merge', axis = 1)
df_join_2 = df_aggr_1.merge(df_join_1, how='cross', sort=False)
df_join_2 = df_join_2[(df_join_2.c_acctbal > df_join_2.c_acctbalmean)]
df_join_2['substr'] = df_join_2.c_phone.str.slice(0, 2)
df_group_1 = df_join_2 \
    .groupby(['substr'], sort=False, as_index=False) \
    .agg(
        c_acctbalsum=('c_acctbal', 'sum'),
        count=('c_acctbal', 'count'),
    )
df_sort_1 = df_group_1.sort_values(
    by=['substr'],
    ascending=[True]
)
df_output_1 = df_sort_1.rename(columns={'substr': 'cntrycode', 'count': 'numcust', 'c_acctbalsum': 'totacctbal'})
df_output_1 = df_output_1[['cntrycode', 'numcust', 'totacctbal']]

In [8]:
df_output_1

  cntrycode  numcust  totacctbal
3        13      888  6737713.99
6        17      861  6460573.72
1        18      964   7236687.4
2        23      892  6701457.95
5        29      948  7158866.63
0        30      909  6808436.13
4        31      922  6806670.18