In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [3]:
df_filter_1 = lineitem[(lineitem.l_shipdate >= '1995-01-01 00:00:00') & (lineitem.l_shipdate <= '1996-12-31 00:00:00')]
df_filter_1 = df_filter_1[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_filter_2 = supplier[['s_suppkey', 's_name', 's_address', 's_nationkey', 's_phone', 's_acctbal', 's_comment']]
df_filter_3 = nation[(nation.n_name == 'FRANCE') | (nation.n_name == 'GERMANY')]
df_filter_3 = df_filter_3[['n_name', 'n_nationkey']]
df_merge_1 = df_filter_2.merge(df_filter_3, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_1 = df_merge_1[['s_suppkey', 'n_name']]
df_merge_2 = df_filter_1.merge(df_merge_1, left_on=['l_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_merge_2 = df_merge_2[['l_shipdate', 'l_extendedprice', 'l_discount', 'l_orderkey', 'n_name']]
df_filter_4 = orders[['o_orderkey', 'o_custkey', 'o_orderstatus', 'o_totalprice', 'o_orderdate', 'o_orderpriority', 'o_clerk', 'o_shippriority', 'o_comment']]
df_filter_5 = customer[['c_custkey', 'c_name', 'c_address', 'c_nationkey', 'c_phone', 'c_acctbal', 'c_mktsegment', 'c_comment']]
df_filter_6 = nation[(nation.n_name == 'GERMANY') | (nation.n_name == 'FRANCE')]
df_filter_6 = df_filter_6[['n_name', 'n_nationkey']]
df_merge_3 = df_filter_5.merge(df_filter_6, left_on=['c_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_3 = df_merge_3[['c_custkey', 'n_name']]
df_merge_4 = df_filter_4.merge(df_merge_3, left_on=['o_custkey'], right_on=['c_custkey'], how="inner", sort=False)
df_merge_4 = df_merge_4[['o_orderkey', 'n_name']]
df_merge_5 = df_merge_2.merge(df_merge_4, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner", sort=False)
df_merge_5['l_year'] = df_merge_5.l_shipdate.dt.year
df_merge_5 = df_merge_5[((df_merge_5.n_name_x == 'FRANCE') & (df_merge_5.n_name_y == 'GERMANY')) | ((df_merge_5.n_name_x == 'GERMANY') & (df_merge_5.n_name_y == 'FRANCE'))]
df_merge_5 = df_merge_5[['n_name_x', 'n_name_y', 'l_year', 'l_extendedprice', 'l_discount']]
df_merge_5['supp_nation'] = df_merge_5.n_name_x
df_merge_5['cust_nation'] = df_merge_5.n_name_y
df_sort_1 = df_merge_5.sort_values(by=['supp_nation', 'cust_nation', 'l_year'], ascending=[True, True, True])
df_sort_1 = df_sort_1[['supp_nation', 'cust_nation', 'l_year', 'l_extendedprice', 'l_discount']]
df_sort_1['volume'] = ((df_sort_1.l_extendedprice) * (1 - (df_sort_1.l_discount)))
df_group_1 = df_sort_1 \
    .groupby(['supp_nation', 'cust_nation', 'l_year'], sort=False) \
    .agg(
        revenue=("volume", "sum"),
    )
df_group_1 = df_group_1[['revenue']]
#df_limit_1 = df_group_1.head(1)
#return df_limit_1

In [4]:
df_group_1

                                     revenue
supp_nation cust_nation l_year
FRANCE      GERMANY     1995   54639732.7336
                        1996   54633083.3076
GERMANY     FRANCE      1995   52531746.6697
                        1996   52520549.0224

In [5]:
df_scan_1 = customer[['c_custkey', 'c_nationkey']]
df_scan_2 = nation[['n_nationkey', 'n_name']]
df_scan_3 = nation[['n_nationkey', 'n_name']]
result_blocks = []
for i in range(0, len(df_scan_2), 10):
    block_left = df_scan_2.iloc[i:i+10]
    for j in range(0, len(df_scan_3), 10):
        block_right = df_scan_3.iloc[j:j+10]
        joined_block = pd.merge(block_left, block_right, how='cross')
        joined_block = joined_block[(joined_block.n_name_y == 'FRANCE') & (joined_block.n_name_x == 'GERMANY') | (joined_block.n_name_y == 'GERMANY') & (joined_block.n_name_x == 'FRANCE')]
        result_blocks.append(joined_block)
df_join_1 = pd.concat(result_blocks, ignore_index=True)
df_scan_4 = supplier[['s_suppkey', 's_nationkey']]
df_join_2 = df_join_1.merge(df_scan_4, left_on=['n_nationkey_y'], right_on=['s_nationkey'], how='inner', sort=False)
df_scan_5 = lineitem[lineitem.l_shipdate.between('1995-01-01', '1996-12-31', inclusive='both')]
df_scan_5 = df_scan_5[['l_orderkey', 'l_suppkey', 'l_extendedprice', 'l_discount', 'l_shipdate']]
df_join_3 = df_join_2.merge(df_scan_5, left_on=['s_suppkey'], right_on=['l_suppkey'], how='inner', sort=False)
df_scan_6 = orders[['o_orderkey', 'o_custkey']]
df_join_4 = df_join_3.merge(df_scan_6, left_on=['l_orderkey'], right_on=['o_orderkey'], how='inner', sort=False)
df_join_5 = df_scan_1.merge(df_join_4, left_on=['c_nationkey', 'c_custkey'], right_on=['n_nationkey_x', 'o_custkey'], how='inner', sort=False)
df_join_5['l_shipdate8'] = df_join_5.l_shipdate.dt.year
df_join_5['l_extendedpricel_discount'] = df_join_5.l_extendedprice * (1 - df_join_5.l_discount)
df_group_1 = df_join_5 \
    .groupby(['n_name_y', 'n_name_x', 'l_shipdate8'], sort=False, as_index=False) \
    .agg(
        l_extendedpricel_discountsum=('l_extendedpricel_discount', 'sum'),
    )
df_sort_1 = df_group_1.sort_values(
    by=['n_name_y', 'n_name_x', 'l_shipdate8'],
    ascending=[True, True, True]
)
df_output_1 = df_sort_1.rename(columns={'n_name_y': 'supp_nation', 'n_name_x': 'cust_nation', 'l_shipdate8': 'l_year', 'l_extendedpricel_discountsum': 'revenue'})
df_output_1 = df_output_1[['supp_nation', 'cust_nation', 'l_year', 'revenue']]

In [9]:
df_join_1 = df_join_1.rename(columns={'n_name_y': 'supp_nation', 'n_name_x': 'cust_nation'})
print(f"df_join_1: {len(df_join_1)}")
df_join_1

df_join_1: 2

   n_nationkey_x cust_nation  n_nationkey_y supp_nation
0              6      FRANCE              7     GERMANY
1              7     GERMANY              6      FRANCE

In [7]:
df_output_1

  supp_nation cust_nation  l_year       revenue
1      FRANCE     GERMANY    1995 54639732.7336
3      FRANCE     GERMANY    1996 54633083.3076
0     GERMANY      FRANCE    1995 52531746.6697
2     GERMANY      FRANCE    1996 52520549.0224