In [1]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [2]:
import pandas as pd


# Lineitem

l_columnnames = ["L_ORDERKEY", "L_PARTKEY", "L_SUPPKEY", "L_LINENUMBER", "L_QUANTITY", "L_EXTENDEDPRICE", "L_DISCOUNT", "L_TAX",
                "L_RETURNFLAG", "L_LINESTATUS", "L_SHIPDATE", "L_COMMITDATE", "L_RECEIPTDATE", "L_SHIPINSTRUCT", "L_SHIPMODE", "L_COMMENT"]

for i in range(len(l_columnnames)):
    l_columnnames[i] = l_columnnames[i].lower()

l_data_types = {
    'l_orderkey': int,
    'l_partkey': int,
    'l_suppkey': int,
    'l_linenumber': int,
    'l_quantity': float,
    'l_extendedprice': float,
    'l_discount': float,
    'l_tax': float,
    'l_returnflag': str,
    'l_linestatus': str,
    'l_shipinstruct': str,
    'l_shipmode': str,
    'l_comment': str
}

l_parse_dates = ['l_shipdate', 'l_commitdate', 'l_receiptdate']

# Don't set indexes, as we can't access them with Pandas selection!
lineitem = pd.read_table("../data_storage/lineitem.tbl.csv", sep="|", names=l_columnnames, dtype=l_data_types, parse_dates=l_parse_dates)

# Order

o_columnnames = ["O_ORDERKEY", "O_CUSTKEY", "O_ORDERSTATUS", "O_TOTALPRICE", "O_ORDERDATE", "O_ORDERPRIORITY", "O_CLERK", "O_SHIPPRIORITY", "O_COMMENT"]

for i in range(len(o_columnnames)):
    o_columnnames[i] = o_columnnames[i].lower()
    
o_data_types = {
    'o_orderkey': int,
    'o_custkey': int,
    'o_orderstatus': str,
    'o_totalprice': float,
    'o_orderpriority': str,
    'o_clerk': str,
    'o_shippriority': int,
    'o_comment': str
}

o_parse_dates = ['o_orderdate']

# Don't set indexes, as we can't access them with Pandas selection!
orders = pd.read_table("../data_storage/orders.tbl.csv", sep="|", names=o_columnnames, dtype=o_data_types, parse_dates=o_parse_dates)

# Customer

c_columnnames = ["C_CUSTKEY", "C_NAME", "C_ADDRESS", "C_NATIONKEY", "C_PHONE", "C_ACCTBAL", "C_MKTSEGMENT", "C_COMMENT"]

for i in range(len(c_columnnames)):
    c_columnnames[i] = c_columnnames[i].lower()
    
c_data_types = {
    'c_custkey': int,
    'c_name': str,
    'c_address': str,
    'c_nationkey': int,
    'c_phone': str,
    'c_acctbal': float,
    'c_mktsegment': str,
    'c_comment': str
}

c_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
customer = pd.read_table("../data_storage/customer.tbl.csv", sep="|", names=c_columnnames, dtype=c_data_types, parse_dates=c_parse_dates)

# Part

p_columnnames = ["P_PARTKEY", "P_NAME", "P_MFGR", "P_BRAND", "P_TYPE", "P_SIZE", "P_CONTAINER", "P_RETAILPRICE", "P_COMMENT"]

for i in range(len(p_columnnames)):
    p_columnnames[i] = p_columnnames[i].lower()
    
p_data_types = {
    'p_partkey': int, 
    'p_name': str,
    'p_mfgr': str,
    'p_brand': str,
    'p_type': str,
    'p_size': int,
    'p_container': str,
    'p_retailprice': float,
    'p_comment': str
}

p_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
part = pd.read_table("../data_storage/part.tbl.csv", sep="|", names=p_columnnames, dtype=p_data_types, parse_dates=p_parse_dates)

# Nation

n_columnnames = ["N_NATIONKEY", "N_NAME", "N_REGIONKEY", "N_COMMENT"]

for i in range(len(n_columnnames)):
    n_columnnames[i] = n_columnnames[i].lower()
    
n_data_types = {
    'n_nationkey': int,
    'n_name': str,
    'n_regionkey': int,
    'n_comment': str,
}

n_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
nation = pd.read_table("../data_storage/nation.tbl.csv", sep="|", names=n_columnnames, dtype=n_data_types, parse_dates=n_parse_dates)

# Supplier

s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../data_storage/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

# Partsupp

ps_columnnames = ["PS_PARTKEY", "PS_SUPPKEY", "PS_AVAILQTY", "PS_SUPPLYCOST", "PS_COMMENT"]

for i in range(len(ps_columnnames)):
    ps_columnnames[i] = ps_columnnames[i].lower()

ps_data_types = {
    'ps_partkey': int,
    'ps_suppkey': int,
    'ps_availqty': int,
    'ps_supplycost': float,
    'ps_comment': str
}

ps_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
partsupp = pd.read_table("../data_storage/partsupp.tbl.csv", sep="|", names=ps_columnnames, dtype=ps_data_types, parse_dates=ps_parse_dates)

# Region

r_columnnames = ["R_REGIONKEY", "R_NAME", "R_COMMENT"]

for i in range(len(r_columnnames)):
    r_columnnames[i] = r_columnnames[i].lower()

r_data_types = {
    'r_regionkey': int,
    'r_name': str,
    'r_comment': str
}

r_parse_dates = []

# Don't set indexes, as we can't access them with Pandas selection!
region = pd.read_table("../data_storage/region.tbl.csv", sep="|", names=r_columnnames, dtype=r_data_types, parse_dates=r_parse_dates)

In [3]:
df_filter_1 = lineitem[['l_suppkey', 'l_partkey', 'l_orderkey', 'l_extendedprice', 'l_discount', 'l_quantity']]
df_filter_2 = partsupp[['ps_suppkey', 'ps_partkey', 'ps_supplycost']]
df_merge_1 = df_filter_1.merge(df_filter_2, left_on=['l_suppkey', 'l_partkey'], right_on=['ps_suppkey', 'ps_partkey'], how="inner", sort=False)
df_filter_3 = orders[['o_orderkey', 'o_orderdate']]
df_merge_2 = df_merge_1.merge(df_filter_3, left_on=['l_orderkey'], right_on=['o_orderkey'], how="inner", sort=False)
df_filter_4 = supplier[['s_suppkey', 's_nationkey']]
df_filter_5 = nation[['n_nationkey', 'n_name']]
df_merge_3 = df_filter_4.merge(df_filter_5, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_4 = df_merge_2.merge(df_merge_3, left_on=['ps_suppkey', 'l_suppkey'], right_on=['s_suppkey', 's_suppkey'], how="inner", sort=False)
df_filter_6 = part[(part.p_name.str.contains("^.*?green.*?$",regex=True))]
df_filter_6 = df_filter_6[['p_partkey', 'p_name']]
df_merge_5 = df_merge_4.merge(df_filter_6, left_on=['ps_partkey', 'l_partkey'], right_on=['p_partkey', 'p_partkey'], how="inner", sort=False)
df_merge_5['nation'] = df_merge_5.n_name
df_merge_5['o_year'] = df_merge_5.o_orderdate.dt.year
df_merge_5['amount'] = (((df_merge_5.l_extendedprice) * (1 - (df_merge_5.l_discount))) - ((df_merge_5.ps_supplycost) * (df_merge_5.l_quantity)))
df_group_1 = df_merge_5 \
    .groupby(['nation', 'o_year'], sort=False) \
    .agg(
        sum_profit=("amount", "sum"),
    )
df_group_1 = df_group_1[['sum_profit']]
df_sort_1 = df_group_1.sort_values(by=['nation', 'o_year'], ascending=[True, False])
df_limit_1 = df_sort_1.head(1)
#return df_limit_1

In [4]:
df_limit_1

                  sum_profit
nation  o_year
ALGERIA 1998   27136900.1803

In [5]:
df_filter_1 = orders[['o_orderdate', 'o_orderkey']]
df_filter_2 = partsupp[['ps_supplycost', 'ps_suppkey', 'ps_partkey']]
df_filter_3 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_linenumber', 'l_quantity', 'l_extendedprice', 'l_discount', 'l_tax', 'l_returnflag', 'l_linestatus', 'l_shipdate', 'l_commitdate', 'l_receiptdate', 'l_shipinstruct', 'l_shipmode', 'l_comment']]
df_filter_4 = part[(part.p_name.str.contains("^.*?green.*?$",regex=True))]
df_filter_4 = df_filter_4[['p_partkey']]
df_merge_1 = df_filter_3.merge(df_filter_4, left_on=['l_partkey'], right_on=['p_partkey'], how="inner", sort=False)
df_merge_1 = df_merge_1[['p_partkey', 'l_extendedprice', 'l_discount', 'l_quantity', 'l_suppkey', 'l_partkey', 'l_orderkey']]
df_merge_2 = df_filter_2.merge(df_merge_1, left_on=['ps_suppkey', 'ps_partkey'], right_on=['l_suppkey', 'l_partkey'], how="inner", sort=False)
df_merge_2 = df_merge_2[['l_extendedprice', 'l_discount', 'l_quantity', 'l_suppkey', 'l_orderkey', 'ps_supplycost', 'ps_suppkey']]
df_filter_5 = supplier[['s_suppkey', 's_nationkey']]
df_merge_3 = df_merge_2.merge(df_filter_5, left_on=['l_suppkey'], right_on=['s_suppkey'], how="inner", sort=False)
df_merge_3 = df_merge_3[['l_extendedprice', 'l_discount', 'l_quantity', 'l_orderkey', 's_nationkey', 'ps_supplycost']]
df_merge_4 = df_filter_1.merge(df_merge_3, left_on=['o_orderkey'], right_on=['l_orderkey'], how="inner", sort=False)
df_merge_4 = df_merge_4[['l_extendedprice', 'l_discount', 'l_quantity', 's_nationkey', 'ps_supplycost', 'o_orderdate']]
df_filter_6 = nation[['n_name', 'n_nationkey']]
df_merge_5 = df_merge_4.merge(df_filter_6, left_on=['s_nationkey'], right_on=['n_nationkey'], how="inner", sort=False)
df_merge_5['o_year'] = df_merge_5.o_orderdate.dt.year
df_merge_5 = df_merge_5[['n_name', 'o_year', 'l_extendedprice', 'l_discount', 'ps_supplycost', 'l_quantity']]
df_merge_5['nation'] = df_merge_5.n_name
df_sort_1 = df_merge_5.sort_values(by=['nation', 'o_year'], ascending=[True, False])
df_sort_1 = df_sort_1[['nation', 'o_year', 'l_extendedprice', 'l_discount', 'ps_supplycost', 'l_quantity']]
df_sort_1['amount'] = (((df_sort_1.l_extendedprice) * (1 - (df_sort_1.l_discount))) - ((df_sort_1.ps_supplycost) * (df_sort_1.l_quantity)))
df_group_1 = df_sort_1 \
    .groupby(['nation', 'o_year'], sort=False) \
    .agg(
        sum_profit=("amount", "sum"),
    )
df_group_1 = df_group_1[['sum_profit']]
df_limit_1 = df_group_1.head(1)
#return df_limit_1

In [6]:
df_limit_1

                  sum_profit
nation  o_year
ALGERIA 1998   27136900.1803

In [7]:
df_scan_1 = nation[['n_nationkey', 'n_name']]
df_scan_2 = supplier[['s_suppkey', 's_nationkey']]
df_scan_3 = part[part.p_name.str.contains('^.*?green.*?$', regex=True)]
df_scan_3 = df_scan_3[['p_partkey', 'p_name']]
df_scan_4 = partsupp[['ps_partkey', 'ps_suppkey', 'ps_supplycost']]
df_join_1 = df_scan_3.merge(df_scan_4, left_on=['p_partkey'], right_on=['ps_partkey'], how='inner', sort=False)
df_join_2 = df_scan_2.merge(df_join_1, left_on=['s_suppkey'], right_on=['ps_suppkey'], how='inner', sort=False)
df_scan_5 = lineitem[['l_orderkey', 'l_partkey', 'l_suppkey', 'l_quantity', 'l_extendedprice', 'l_discount']]
df_join_3 = df_join_2.merge(df_scan_5, left_on=['s_suppkey', 'ps_suppkey', 'ps_partkey', 'p_partkey'], right_on=['l_suppkey', 'l_suppkey', 'l_partkey', 'l_partkey'], how='inner', sort=False)
df_scan_6 = orders[['o_orderkey', 'o_orderdate']]
df_join_4 = df_join_3.merge(df_scan_6, left_on=['l_orderkey'], right_on=['o_orderkey'], how='inner', sort=False)
df_join_5 = df_scan_1.merge(df_join_4, left_on=['n_nationkey'], right_on=['s_nationkey'], how='inner', sort=False)
df_join_5['o_orderdate2'] = df_join_5.o_orderdate.dt.year
df_join_5['l_extendedpricel_discountps_supplycostl_quantity'] = (df_join_5.l_extendedprice * (1 - df_join_5.l_discount) - df_join_5.ps_supplycost * df_join_5.l_quantity)
df_group_1 = df_join_5 \
    .groupby(['n_name', 'o_orderdate2'], sort=False, as_index=False) \
    .agg(
        l_extendedpricel_discountps_supplycostl_quantitysum=('l_extendedpricel_discountps_supplycostl_quantity', 'sum'),
    )
df_sort_1 = df_group_1.sort_values(
    by=['n_name', 'o_orderdate2'],
    ascending=[True, False]
)
df_output_1 = df_sort_1.rename(columns={'n_name': 'nation', 'o_orderdate2': 'o_year', 'l_extendedpricel_discountps_supplycostl_quantitysum': 'sum_profit'})
df_output_1 = df_output_1[['nation', 'o_year', 'sum_profit']]

In [8]:
df_output_1

      nation  o_year         sum_profit
1    ALGERIA    1998      27136900.1803
6    ALGERIA    1997 48611833.496199995
2    ALGERIA    1996      48285482.6782
4    ALGERIA    1995      44402273.5999
3    ALGERIA    1994      48694008.0668
..       ...     ...                ...
152  VIETNAM    1996       47824595.904
150  VIETNAM    1995      48235135.8016
148  VIETNAM    1994      47729256.3324
151  VIETNAM    1993      45352676.8672
147  VIETNAM    1992 47846355.648499995

[175 rows x 3 columns]