In [2]:
from numpy import char
from datetime import date
import pandas as pd
import numpy as np
import time
pd.set_option('display.float_format', str)

In [3]:
s_columnnames = ["S_SUPPKEY", "S_NAME", "S_ADDRESS", "S_NATIONKEY", "S_PHONE", "S_ACCTBAL", "S_COMMENT"]

for i in range(len(s_columnnames)):
    s_columnnames[i] = s_columnnames[i].lower()

s_data_types = {
    's_suppkey': int,
    's_name': str,
    's_address': str,
    's_nationkey': int,
    's_phone': str,
    's_acctbal': float,
    's_comment': str
}

s_parse_dates = []

In [4]:
# Don't set indexes, as we can't access them with Pandas selection!
supplier = pd.read_table("../tpch-pgsql-master/data/load/supplier.tbl.csv", sep="|", names=s_columnnames, dtype=s_data_types, parse_dates=s_parse_dates)

In [5]:
df_filter_1 = supplier[(supplier.s_comment.str.contains("^.*?a$", regex=True))]
df_filter_1 = df_filter_1[['s_suppkey', 's_comment']]

In [6]:
df_filter_1

      s_suppkey                                          s_comment
4             5                          . slyly regular pinto bea
16           17  eep against the furiously bold ideas. fluffily...
64           65  l ideas wake carefully around the regular pack...
68           69  ! carefully ironic instructions nag quickly pe...
72           73                       . never pending asymptotes a
...         ...                                                ...
9910       9911   dolphins detect furiously ironic foxes. dogge...
9942       9943  express instructions. blithely express account...
9943       9944  rets. express, bold excuses after the slyly re...
9979       9980  lly. regular dependencies according to the eve...
9984       9985  ly at the even deposits; slyly even packages d...

[636 rows x 2 columns]

In [7]:
supplier.head(5)

,s_suppkey,s_name,s_address,s_nationkey,s_phone,s_acctbal,s_comment
0,1,Supplier#000000001,"N kD4on9OM Ipw3,gf0JBoQDd7tgrzrddZ",17,27-918-335-1736,5755.94,each slyly above the careful
1,2,Supplier#000000002,"89eJ5ksX3ImxJQBvxObC,",5,15-679-861-2259,4032.68,slyly bold instructions. idle dependen
2,3,Supplier#000000003,"q1,G3Pj6OjIuUYfUoH18BFTKP5aU9bEV3",1,11-383-516-1199,4192.4,blithely silent requests after the express dep...
3,4,Supplier#000000004,Bk7ah4CK8SYQTepEmvMkkgMwg,15,25-843-787-7479,4641.08,riously even requests above the exp
4,5,Supplier#000000005,Gcdm2rJRzl5qlTVzc,11,21-151-690-3663,-283.84,. slyly regular pinto bea